{% load wagtailimages_tags %}

<div class="container-fluid w-75 mb-2">
  <h2 style="text-align: center; margin: 10px;">{{self.title}}</h2>

  <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
    {% for card in self.cards %} {% image card.image fill-380x200 as img %}
    <div class="col">
      <div class="card border-light h-100">
        <img
          src="{{ img.url }}"
          class="card-img-top img-fluid"
          alt="{{ img.alt }}"
          style="width: auto; height: 15rem; margin: 0 auto 0 auto"
        />
        <div class="card-body">
          <h5 class="card-title">{{card.title}}</h5>
          <p class="card-text">{{card.text}}</p>
          <a href="{{ card.url_button }}" class="btn btn-info"> Learn More </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
